button {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin: 5px;
    height: 50px;
    width: 150px;
    border-radius: 7px;
    border: none;
    background: #f1f1f1;
    font-size: 18px;
    cursor: pointer;
}

.boton-clic {
    background: #002ead;
    color: #fff;
}

.boton-reiniciar {
    background: #5a01a7;
    color: #fff;
}

button:hover {
    background: #09971b;
    color: #fff;
}
